@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";

.hero {
  margin-top: 125px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba($sand, 0.2);

  .inner {
    overflow: hidden;
    position: relative;
    width: 100%;

    &:after {
      padding-top: 56.25%;
      display: block;
      content: '';
    }
  }

  .innerImg {
    overflow: hidden;
    position: relative;
    width: 100%;

    &:after {
      display: none;
    }
  }
}