@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.workContent {
  padding: 190px 0 150px;
  position: relative;

  h1 {
    font-family: $title;
    font-size: 12rem;
    line-height: 1;
    opacity: 0.07;
    position: fixed;
    top: -150px;
    right: 11%;
  }

  .workList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    list-style-type: none;
    margin: 0 -35px 0 0;
    padding: 0;

    li {
      border-radius: 15px;
      width: calc(50% - 35px);
      box-shadow: 0px 10px 30px rgba($sand, 0.5);
    }

    .workItem {
      border-radius: 15px;
      overflow: hidden;
      position: relative;

      &:after {
        background: linear-gradient(to top, black, transparent);
        content: '';
        display: block;
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        z-index: 1;
        transition: .25s ease;
      }

      .content {
        color: $creme;
        padding: 25px;
        position: absolute;
        bottom: 0;
        z-index: 2;

        h2 {
          color: $creme;
          font-family: $copy;
          font-size: 55px;
          line-height: 55px;
          margin: 0;
          position: relative;
          top: 30px;
          transition: .25s ease;
          transition-delay: .1s;
        }

        .popUp {
          font-size: 22px;
          font-weight: 500;
          line-height: 36px;
          overflow: hidden;
          opacity: 0;
          margin-bottom: -50px;
          transition: .25s ease;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          span {
            background: rgba(black, 0.3);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border-radius: 100px;
            font-size: 16px;
            padding: 8px 20px;
          }
        }
      }

      &:hover,
      &:focus {
        cursor: pointer;

        h2 {
          top: -30px;
        }

        .popUp {
          margin-bottom: 35px;
          opacity: 1;
        }

        &:after {
          opacity: 0.85;
          height: 100%;
        }
      }
    }
  }
}