@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.introContent {
  padding: 0 0 100px;
  position: relative;

  h1 {
    font-family: $title;
    font-size: 12rem;
    line-height: 1;
    opacity: 0.07;
    position: absolute;
    bottom: -150px;
    right: 10%;
    z-index: 1;
  }

  .inner {
    display: flex;
    align-items: center;
    gap: 75px;
    position: relative;
    z-index: 2;
  }

  .image {
    border-radius: 10px;
    overflow: hidden;
    width: 450px;
  }

  .homeContentCopy {
    flex: 1;

    p {
      color: $sand;
    }
  }

  .actions {
    margin-top: 45px;

    @include sm-max {
      margin-top: 25px;
    }

    a {
      background: $sand;
      border-radius: 100px;
      color: $creme;
      display: inline-block;
      font-weight: 500;
      padding: 15px 45px;
      transition: 0.25s ease;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }

      @include sm-max {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;

        span {
          display: none;
        }
      }
    }
  }
}