@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";

.caseStudyHeader {
  display: flex;
  margin: 75px 0;
  gap: 100px;

  @include md-max {
    flex-direction: column;
    gap: 50px;
  }

  .workCta {
    display: none;
    margin-bottom: 25px;

    span {
      color: $sand;
      display: inline-block;
      font-family: $copy;
      font-weight: bold;
      font-size: 18px;
      padding-left: 55px;
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 35px;
        transition: .25s;

        path {
          stroke: $sand;
        }
      }

      &:hover,
      &:focus {
        cursor: pointer;

        svg {
          left: -15px;
        }
      }
    }

    @include lg-max {
      display: block;
    }
  }

  h1 {
    color: $pink;
    font-family: $title;
    font-size: 7rem;
    line-height: 1;
    margin: 0 0 50px;

    @include md-max {
      font-size: 75px;
      margin: 0 0 25px;
    }
  }

  .inner {
    flex: 1;

    .content {
      font-family: $copy;
      font-size: 18px;
      line-height: 28px;
    }

    .tags {
      margin-top: 50px;

      span {
        background: $sand;
        border-radius: 100px;
        color: $creme;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 15px 30px;
      }
    }
  }

  .hr {
    display: block;
    margin-bottom: 75px;
  }

  .rightRail {
    font-family: $copy;
    margin-top: 45px;
    width: 310px;

    .rightRailItem {
      color: $sand;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 28px;

      span {
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    @include md-max {
      margin-top: 15px;
      width: 100%;

      .rightRailItem {
        margin-bottom: 25px;
      }
    }
  }
}