@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";

.caseStudyHeader {
  display: flex;
  margin: 75px 0;
  gap: 100px;

  @include md-max {
    flex-direction: column;
    gap: 50px;
  }

  h1 {
    color: $pink;
    font-family: $title;
    font-size: 7rem;
    line-height: 1;
    margin: 0 0 50px;

    @include md-max {
      font-size: 55px;
      margin: 0 0 25px;
    }
  }

  .inner {
    flex: 1;

    .content {
      font-family: $copy;
      font-size: 18px;
      line-height: 28px;
    }

    .tags {
      margin-top: 50px;

      span {
        background: $sand;
        border-radius: 100px;
        color: $creme;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 15px 30px;
      }
    }
  }

  .hr {
    display: block;
    margin-bottom: 75px;
  }

  .rightRail {
    font-family: $copy;
    margin-top: 45px;
    width: 310px;

    .rightRailItem {
      color: $sand;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 28px;

      span {
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    @include md-max {
      margin-top: 15px;
      width: 100%;

      .rightRailItem {
        margin-bottom: 25px;
      }
    }
  }
}