// Fonts

$copy: "Montserrat", helvetica, sans-serif;
$title: "Playfair Display", "Times New Roman", serif;

// Colors

$creme: #f6f2ee;
$sand: #938D87;
$pink: #b77a7c;
$navy: #0a2126;

// Placeholder Text

// @mixin placeholder($color:$placeholder) {
//   ::-webkit-input-placeholder {
//       color: $color;
//   }

//   :-moz-placeholder {
//       color: $color;
//   }

//   ::-moz-placeholder {
//       color: $color;
//   }

//   :-ms-input-placeholder {
//       color: $color;
//   }
// }
